#target-ivs td {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
}

td.toggleable.selected {
  background-color: lightgreen;
  font-weight: bold;
}

#target-ivs-table {
  text-align: center;
}